#unity fun stuff
UnityTestProjectDump/TestProject/Library/
UnityTestProjectDump/TestProject/Temp/
UnityTestProjectDump/TestProject/Logs/
UnityTestProjectDump/TestProject/UserSettings/
UnityTestProjectDump/TestProject/obj/
UnityTestProjectDump/TestProject/UIElementsSchema/
UnityTestProjectDump/TestProject/.vs/
UnityTestProjectDump/TestProject/.vscode/

.vsconfig
.editorconfig
*.sln
*.csproj

GlobalSupressions.cs

# Virtual environment
server_env/
client_env/
scanner_env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Graveyard
Graveyard/