UnityTestProjectDump/TestProject/Library/
UnityTestProjectDump/TestProject/Temp/
UnityTestProjectDump/TestProject/Logs/
UnityTestProjectDump/TestProject/UserSettings/
UnityTestProjectDump/TestProject/obj/
UnityTestProjectDump/TestProject/UIElementsSchema/
UnityTestProjectDump/TestProject/.vs/
UnityTestProjectDump/TestProject/.vscode/

.vsconfig
.editorconfig
*.sln
*.csproj

GlobalSupressions.cs



