aiofiles==25.1.0
asyncpg==0.31.0
beautifulsoup4==4.14.3
deepface==0.0.92
filterpy==1.4.5
Flask==3.1.2
flask-cors==6.0.2
gdown==5.2.1
gunicorn==23.0.0
lightecc==0.0.4
lightphe==0.0.20
lz4==4.4.5
mediapipe==0.10.14
mtcnn==1.0.0
numpy==2.3.5
opencv-contrib-python==4.13.0.92
opencv-python==4.13.0.90
pandas==3.0.0
Pillow==12.1.0
protobuf==4.25.8
python-dotenv==1.2.1
requests==2.32.5
retina-face==0.0.17
rich==14.2.0
scipy==1.15.3
sounddevice==0.5.5
tensorflow==2.20.0
tqdm==4.67.1